#Whitelist
/*
!/.minecraft
/.minecraft/*
/.minecraft/mods

#main
!/更新记录.txt
!/version.json

#repo stuff
!/.github

#minecrft
!/.minecraft/fontfiles
!/.minecraft/oresources
!/.minecraft/resourcepacks
!/.minecraft/resources
!/.minecraft/scripts

!/.minecraft/nu-whitelist.txt

#minecraft/configs
!/.minecraft/config
/.minecraft/config/*

!/.minecraft/config/advRocketry
!/.minecraft/config/AppliedEnergistics2
!/.minecraft/config/brandon3055
!/.minecraft/config/customloadingscreen
!/.minecraft/config/emergingtechnology
!/.minecraft/config/endercore
!/.minecraft/config/enderio
!/.minecraft/config/exnihilocreatio
!/.minecraft/config/forestry
!/.minecraft/config/pyrotech
!/.minecraft/config/smoothfont
!/.minecraft/config/topography

!/.minecraft/config/actuallyadditions.cfg
!/.minecraft/config/astralsorcery.cfg
!/.minecraft/config/colouredtooltips.cfg
!/.minecraft/config/conarm.cfg
!/.minecraft/config/customloadingscreen_tips.txt
!/.minecraft/config/embers.cfg
!/.minecraft/config/immersiveengineering.cfg
!/.minecraft/config/InGameInfo.xml
!/.minecraft/config/ingameinfoxml.cfg
!/.minecraft/config/integrateddynamics.cfg
!/.minecraft/config/loliasm.cfg
!/.minecraft/config/mekanism.cfg
!/.minecraft/config/nuclearcraft.cfg
!/.minecraft/config/openblocks.cfg
!/.minecraft/config/TAIGA.cfg
!/.minecraft/config/tconstruct.cfg
!/.minecraft/config/thaumcraft_world.cfg
!/.minecraft/config/theoneprobe.cfg
!/.minecraft/config/toastcontrol.cfg

#other files
